<div *ngFor="let item of items">
  <table>
    <tr><td colspan="2" bgcolor="BLACK" style="color: whitesmoke">ITEM</td></tr>
    <tr>
      <td class="td-title">Header:</td>
      <td><h3>{{item.header}}</h3></td>
    </tr>
    <tr>
      <td class="td-title" >Type of media:</td>
      <td [innerHTML]="item.type_of_media"></td>
    </tr>
    <tr>
      <td class="td-title">Created at:</td>
      <td [innerHTML]="item.created_at.text"></td>
    </tr>
    <tr>
      <td class="td-title">Image caption:</td>
      <td [innerHTML]="item.image_caption"></td>
    </tr>
    <tr>
      <td class="td-title">Image:</td>
      <td><img [src]="item.image"></td>
    </tr>
    <tr>
      <td class="td-title">Boilerplate:</td>
      <td [innerHTML]="item.boilerplate" style="font-size: 10px;"></td>
    </tr>
    <tr>
      <td class="td-title">Body:</td>
      <td [innerHTML]="item.body" style="font-size: 10px;"></td>
    </tr>
  </table>
</div>

{{items|json}}
