.searchinput {
  border: none;
  outline: none;
  cursor: grab;
}

.searchinput:focus {
  border: none;
}

.press-card, .main-news {
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out !important;
}

.main-news {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: #FFFFFF !important;
}

.main-news:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(12px);
}

.main-news .heading-6 {
  color: #FFFFFF !important;
}

.main-news .body-copy {
  color: #FFFFFF !important;
}

.press-card:hover {
  background-color: #041F35 !important;
}

.press-card:hover .heading-6 {
  color: #FFFFFF !important;
}

.press-card:hover .body-copy {
  color: #E7EBEF !important;
}

.heading-6 {
  transition: color 0.35s ease-in-out !important;
}

.body-copy {
  transition: color 0.35s ease-in-out !important;
}

@media screen and (max-width: 479px) {
  .main-news, .press-card {
    padding: 16px;
  }
}

.main-date {
  color: #E7EBEF;
}

.button-secondary {
  position: relative;
  overflow: hidden;
  cursor: grab;
}

.button-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  transform: translate3d(-104%, 0, 0);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.button-secondary:hover .button-overlay {
  transform: translate3d(0, 0, 0);
  background-color: rgba(255, 255, 255, 1);
}

.primary-button-inner {
  transition: filter 0.3s ease-in-out;
}

.button-secondary:hover .primary-button-inner {
  filter: invert(100%) contrast(200%);
}

.button-copy {
  transition: color 0.3s ease-in-out;
}

.button-secondary:hover .button-copy {
  color: var(--color--blue);
}

.custom-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.press-card {
  flex: 1 1 calc(33.333% - 1.5rem);
  max-width: calc(34.333% - 1.5rem);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.quick-stack {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
  .press-card {
    flex: 0 0 calc(48% - 8px);
    max-width: calc(48% - 8px);
  }
}

@media screen and (max-width: 767px) {
  .press-card {
    flex: 0 0 calc(100% - 8px);
    max-width: calc(100% - 8px);
  }
}

.press-card img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 479px) {
  .image {
    aspect-ratio: 1 / 1 !important;
  }
}
@media screen and (max-width: 767px) {
  .image {
    aspect-ratio: 1 / 1 !important;
  }
}
@media screen and (max-width: 991px) {
  .image {
    aspect-ratio: 1 / 1 !important;
  }

  .dropdown {
    text-transform: capitalize;
  }

  .customsize {
    height: 67px;
  }

  .card-image {
    height: auto;
  }

  @media screen and (max-width: 991px) {
    .press-card {
      flex: 1 1 calc(48% - 8px);
      max-width: calc(49% - 8px);
    }
  }

  @media screen and (max-width: 767px) {
    .press-card {
      flex: 1 1 calc(100% - 8px);
      max-width: calc(100% - 8px);
    }
  }

  .press-card img {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 479px) {
    .press-card img {
    }
  }

  .dropdown {
    text-transform: capitalize;
  }

  .customsize {
    height: 67px;
  }

  .skeleton-loader {
    animation: skeleton-loader 1s steps(1000) infinite;
    background: linear-gradient(65deg, #eaeaea 0%, #eaeaea 40%, #ffffff 50%, #eaeaea 75%, #eaeaea 100%);
    background-size: 500px 200px;
    background-position: 0 0, 0 0, 0 0, 0 0;
  }

  @keyframes skeleton-loader {
    0% {
      background-position: 0 0, 0 0, 0 0, 0 0;
    }
    100% {
      background-position: -500px 0, -500px -200px, 0 -200px, 500px 0;
    }
  }

  .card-image {
    overflow: hidden;
    border-radius: 0.5rem;
  }

  #image {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
  }

  .press-card-body-loading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .press-card-body-loading > h3,
  .press-card-body-loading > p {
    border-radius: 0.5rem;
  }

  .press-card-body-loading > p#ether {
    height: 35px;
    width: 100px;
    border-radius: 0.5rem;
  }

  .press-card-body-loading > #button {
    height: 50px;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
  }
}
