.searchinput {
  border: none;
  outline: none;
  cursor: grab;
}

.searchinput:focus {
  border: none;
}

.press-card, .main-news {
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out !important;
}

.main-news {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: #FFFFFF !important;
}

.main-news:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(12px);
}

.main-news .heading-5 {
  color: #FFFFFF !important;
}

.main-news .body-copy {
  color: #FFFFFF !important;
}

.press-card:hover {
  background-color: #041F35 !important;
}

.press-card:hover .heading-5 {
  color: #FFFFFF !important;
}

.press-card:hover .body-copy {
  color: #E7EBEF !important;
}

.heading-5 {
  transition: color 0.35s ease-in-out !important;
}

.body-copy {
  transition: color 0.35s ease-in-out !important;
}

@media screen and (max-width: 479px) {
  .main-news, .press-card {
    padding: 16px;
  }
}
.main-date {
  color:#E7EBEF;
}


