<div class="subpage-hero long" *ngIf="newsData && newsData.length > 0">
  <div class="subpage-inner large">
    <div class="subpage-heading">
      <h2 class="heading-2">Latest news</h2>
    </div>
    <a [href]="newsData[0].url" data-w-id="de50decc-8423-7e97-7680-4e91848f15a6"
       style="background-color:rgb(255,255,255)" href="#" class="main-news">
      <div class="card-image">
        <img [src]="newsData[0].image_thumbnail_medium" loading="lazy" width="608" height="352" alt=""
             [srcset]="newsData[0].image_thumbnail_medium + ' 600w'"
             sizes="(max-width: 479px) 90vw, (max-width: 767px) 92vw, 46vw" class="image">
      </div>
      <div class="news-content">
        <div class="date">{{ newsData[0].published_at.text | date: 'dd MMMM yyyy' }}</div>
        <div class="card-content big">
          <div class="heading-5 dark">{{ newsData[0].header }}</div>
          <div class="body-copy sm dark" [innerHTML]="newsData[0].body | truncateHtml:400"><br></div>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="news-section" *ngIf="newsData && newsData.length > 1">
  <div class="subpage-inner">
    <div class="dropdown-section" *ngIf="pressroom">
      <div class="dropdown-elements">
        <div class="dropdown">
          <div class="custom-dropdown">
            <label for="contentType" class="dropdown-label">Type of Media:</label>
            <select id="contentType" [(ngModel)]="selectedContentType" (change)="applyFilters(); search()">
              <option *ngFor="let type of contentTypes" [value]="type">{{ type }}</option>
            </select>
          </div>
      </div>
        <div class="dropdown">
          <div class="custom-dropdown">
            <label for="contentType" class="dropdown-label">Type of Media:</label>
            <select id="category" [(ngModel)]="selectedTag" (change)="applyFilters(); search()">
              <option>Select tag...</option>
              <option *ngFor="let tag of tags" [value]="tag">{{ tag }}</option>
            </select>
          </div>
        </div>
        <div class="dropdown">
          <div class="custom-dropdown">
            <input class="searchinput search-label" id="searchQuery" type="text" [(ngModel)]="searchQuery"
                   placeholder="Search Insights" (input)="search()">
          </div>
        </div>
      </div>
    </div>

    <div class="w-layout-grid grid">
      <a *ngFor="let news of filteredNewsData" [id]="news.id" [href]="news.url" class="press-card"
         style="background-color: rgb(255, 255, 255)">
        <div class="card-image">
          <img [src]="news.image_thumbnail_medium" loading="lazy" width="373.3333435058594" height="260" alt=""
               class="image">
        </div>
        <div class="news-content">
          <div class="date">{{ news.published_at.text | date: 'dd MMMM yyyy' }}</div>
          <div class="card-content big">
            <div class="heading-5 dark">{{ news.header }}</div>
            <div class="body-copy sm dark">
              <span class="ellipsis" [innerHTML]="news.body | truncateHtml:1000"></span><br>
            </div>
          </div>
        </div>
      </a>
    </div>

    <a data-w-id="684cffae-0da3-e8d5-0bb8-25c3f0f0c4e4" href="#" class="button-secondary">
      <div class="primary-button-inner">
        <div class="button-copy" (click)="loadMore()">See More<br></div>
      </div>
      <div class="button-overlay"></div>
    </a>
  </div>
</div>

<div class="footer">
  <div class="footer-inner">
    <div class="content">
      <div class="contact"><img src="assets/images/Vectors-Wrapper_2.svg" loading="lazy" width="185.625" height="36"
                                alt="" class="logo">
        <div class="address">35-41 Folgate Street, Spitalfields, London, E1 6BX</div>
        <div class="social-icons">
          <a href="#" class="social-icon w-inline-block"><img src="assets/images/Social-Icons.svg" loading="lazy"
                                                              width="32" height="32" alt=""
                                                              class="social-icon-img"></a>
          <a href="#" class="social-icon w-inline-block"><img src="assets/images/Social-Icons-1.svg" loading="lazy"
                                                              width="32" height="32" alt=""
                                                              class="social-icon-img"></a>
          <a href="#" class="social-icon w-inline-block"><img src="assets/images/Social-Icons-2.svg" loading="lazy"
                                                              width="32" height="32" alt=""
                                                              class="social-icon-img"></a>
        </div>
      </div>
      <div class="footer-links"></div>
      <div class="footer-links">
        <a href="#" target="_blank" class="hyper-link">
          <div class="hyper-link-text">Culture</div>
        </a>
        <a href="#" target="_blank" class="hyper-link">
          <div class="hyper-link-text">Services</div>
        </a>
        <a href="#" target="_blank" class="hyper-link">
          <div class="hyper-link-text">Insights</div>
        </a>
        <a href="#" target="_blank" class="hyper-link">
          <div class="hyper-link-text">Get In Touch</div>
        </a>
        <a href="#" target="_blank" class="hyper-link">
          <div class="hyper-link-text">Recruitment</div>
        </a>
        <a href="#" target="_blank" class="hyper-link">
          <div class="hyper-link-text">Press</div>
        </a>
      </div>
      <div class="footer-links">
        <a href="#" target="_blank" class="hyper-link">
          <div class="hyper-link-text">Folgate</div>
        </a>
        <a href="#" target="_blank" class="hyper-link">
          <div class="hyper-link-text">G2M</div>
        </a>
        <a href="#" target="_blank" class="hyper-link">
          <div class="hyper-link-text">OneVoice</div>
        </a>
        <a href="#" target="_blank" class="hyper-link">
          <div class="hyper-link-text">Pinpoint</div>
        </a>
        <a href="#" target="_blank" class="hyper-link"></a>
      </div>
    </div>
    <div class="text-15">© 2024 Bastion. All rights reserved. <a href="#" class="privacy-policy">Privacy Policy</a>
    </div>
  </div>
</div>
