/* You can add global styles to this file, and also import other style files */
body{
  color: white;
}
.td-title{
  font-weight: bold;
  color: lightblue;
  text-transform: uppercase;
  vertical-align: top;
}

td img{
  max-width: 400px;
  height: auto;
}
