<div class="filter-section" *ngIf="pressroom">
  <app-custom-dropdown class="dropdown"
                       [options]="contentTypes"
                       [selectedOption]="selectedContentType"
                       (optionSelected)="onContentTypeSelected($event)"
  ></app-custom-dropdown>
  <app-custom-dropdown class="dropdown"
                       [options]="tags"
                       [selectedOption]="selectedTag"
                       (optionSelected)="onTagSelected($event)"
  ></app-custom-dropdown>
  <div class="search-field">
    <img src="assets/images/Vectors-Wrapper_4.svg" loading="lazy" width="20" height="20" alt=""
         class="vectors-wrapper-8">
    <input class="searchinput search-label" type="text" [(ngModel)]="searchQuery" placeholder="Search News"
           (input)="search()">
  </div>
</div>
