<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="contentType">Content Type:</label>
    <select id="contentType" formControlName="contentType">
      <option *ngFor="let type of contentTypes" [value]="type">{{ type }}</option>
    </select>
  </div>
  <div>
    <label for="category">Category:</label>
    <select id="category" formControlName="category">
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
  </div>
  <div class="search-field">
    <input type="text" formControlName="query" class="searchinput" placeholder="Search...">
    <button type="button" (click)="onSubmit()">Search</button>
  </div>
  <button type="submit" id="search">Search</button>
</form>
